/*  */
#dev-tools .tool-container {
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 1.3rem 0;
  transition: 0.4s;
  color: var(--light-text);
}
#dev-tools .tilt-tool {
  transform-style: preserve-3d;
}
#dev-tools .tool-content {
  transform: translateZ(15px);
  perspective: 1000px;
  text-align: center;
}
#dev-tools .tool-container i {
  font-size: 3rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}
#dev-tools span {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
#dev-tools .tech-name {
  margin-left: 0.3rem;
}
@media screen and (max-width: 500px) {
  #dev-tools .tech-name {
    display: none;
  }
  #dev-tools .tool-container i {
    font-size: 2rem;
  }
}
