/*  */
#portfolio {
  background: #12222d;
  padding: 5rem;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 3rem;
}
#portfolio .all-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
@media screen and (max-width: 500px) {
  #portfolio {
    padding: 0rem;
  }
}
