/*  */
#portfolio {
  margin: 6rem auto;
  width: 80%;
}

#portfolio .all-projects {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}
