/*  */
#portfolio .project {
  background: var(--light-text);
  width: 300px;
  padding: 2rem;
  text-align: center;
  margin: 1rem;
  margin: 0 auto;
}
#portfolio .project img {
  width: 80%;
  margin-bottom: 1rem;
}
#portfolio .project h4 {
  font-weight: bold;
}
#portfolio .project .description {
  display: block;
  margin-bottom: 1rem;
}
#portfolio .project .button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#portfolio .project .button-container button {
  background: transparent;
  border: none;
  transition: background-color 0.5s;
}
#portfolio .project .button-container button a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
}
#portfolio .project .button-container button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#portfolio .project .button-container button:hover a {
  color: var(--light-text);
}
