/*  */
#portfolio .project {
  overflow: hidden;
  position: relative;
}
#portfolio .project figure {
  margin: 0;
}
#portfolio .project figure img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
#portfolio .project .project-info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--base-orange);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s ease-out;
}
#portfolio .project:hover .project-info-container {
  opacity: 1;
}
#portfolio .project .project-info {
  width: 70%;
}
#portfolio .project .project-info p {
  color: var(--main-background);
}
#portfolio .project .button-container {
  text-align: center;
}
#portfolio .project button {
  background: transparent;
  border: none;
  transition: 0.5s;
}
#portfolio .project button:hover {
  background: rgba(255, 255, 255, 0.2);
}
#portfolio .project button a {
  color: var(--light-text);
  text-decoration: none;
  transition: 0.5s;
}
#portfolio .project button:hover a {
  color: var(--main-background);
}
#portfolio .project .button-container button:nth-child(1) {
  margin-right: 0.5rem;
}
