/*  */
#about .about-me {
  width: 50%;
  background: #083453;
  padding: 5rem;
}
#about .about-me h3 {
  color: var(--light-text);
  margin-bottom: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2rem;
}
#about .about-me .info-content {
  transition: 0.5s;
}
#about .about-me p {
  color: var(--light-text);
  letter-spacing: 1px;
}
#about .about-image-box {
  width: 50%;
  background: url(../../assets//img/about.jpg) scroll no-repeat center;
  background-size: cover;
}

/* ----------- MEDIA QUERIES ----------- */

@media screen and (max-width: 950px) {
  #about .about-me,
  #about .about-image-box {
    width: 100%;
  }
  #about .about-image-box {
    height: 400px;
  }
}
@media screen and (max-width: 450px) {
  #about .about-me {
    padding: 5rem 2rem;
  }
}
