/*  */
#dev-tools .tool-container {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 1.5rem 0;
  transition: 0.4s;
  color: var(--light-text);
}
#dev-tools .tilt-tool {
  transform-style: preserve-3d;
}
#dev-tools .tool-content {
  transform: translateZ(15px);
  perspective: 1000px;
}
#dev-tools .tool-container i {
  font-size: 3rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}
#dev-tools span {
  margin-left: 0.3rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 484px) {
  #dev-tools i {
    font-size: 2rem;
  }
}
