/*  */
#contact .method {
  overflow: hidden;
  position: relative;
  text-align: center;
  border: 2px solid var(--textcolor-inactive);
  border-radius: 0.3rem;
  padding: 1.5rem;
}

#contact .method i {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
}

#contact .contact-info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-semi-dark);
  transform: rotateX(90deg);
  transition: transform 0.5s ease;
}

#contact .contact-info {
  color: var(--textcolor-hover);
  font-weight: bold;
}

#contact .method:hover .contact-info-container {
  transform: rotateX(0);
}
