/*  */
#contact {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
#contact h2 {
  text-align: center;
}
#contact .contact-methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
