/*  */
#contact {
  margin: 6rem auto;
  min-width: 280px;
  width: 50%;
}

#contact h2 {
  margin-bottom: 3.5rem;
}

#contact .contact-methods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 10px;
}
