/*  */
#navbar {
  position: fixed;
  margin: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 999;
}

#navbar .container-fluid {
  width: 85%;
  margin: 0 auto;
}

#navbar .navbar-brand {
  color: var(--textcolor-light);
  font-size: 1.3rem;
}

#navbar ul a {
  color: var(--textcolor-inactive);
  font-size: 1.1rem;
  margin: 0 0.5rem;
}

#navbar ul a:hover {
  color: var(--textcolor-hover);
}

.active {
  background: var(--background-semi-dark);
}
