/*  */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/img/laptop.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home span {
  color: var(--textcolor-light);
  font-size: 1.7rem;
}

h1 {
  font-size: 3.3rem;
  color: var(--textcolor-hover);
  font-weight: bold;
}
